[2019-09-04 07:07] arulprasad opened #2 "Typo in readme: 'Installing -> Intalling'"

[2019-09-04 16:58] kris-nova opened #4 "New Maintainers"
I would like to nominate the following as official maintainers of `falcoctl`

 - @rajibmitra
 - @markyjackson-taulia

[2019-09-04 19:37] #2 closed

[2019-09-06 01:41] markyjackson-taulia commented on #4
I would be honored

[2019-09-06 17:18] rajibmitra commented on #4
lets make falcoctl a world class experience.  @kris-nova  @markyjackson-taulia

[2019-09-09 17:08] #4 closed

[2019-09-10 06:23] markyjackson-taulia opened #7 "Add Prow for falcoctl with gcp"
This work will be done with me and @rajibmitra
Umbrella tasks are:
- [ ] Add @rajibmitra to google cloud
- [ ] Add integration with FalcoCTL to prow
- [ ] Document

[2019-09-10 06:23] poiana commented on #7
@markyjackson-taulia: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue agai

[2019-09-10 06:24] markyjackson-taulia commented on #7
/kind task
/assign @markyjackson-taulia @rajibmitra

[2019-09-10 06:25] markyjackson-taulia commented on #7
/kind pr

[2019-09-10 06:30] markyjackson-taulia commented on #7
/kind feature

[2019-09-10 06:53] rajibmitra commented on #7
Thanks @markyjackson-taulia  for creating and assigning this issue. Lets get this done. 👍

[2019-09-10 07:09] rajibmitra opened #8 "Add github actions for falcoctl automation."
This is just a suggestion. Please let me know your thoughts @falcosecurity/falcoctl-maintainers

[2019-09-10 07:09] poiana commented on #8
@rajibmitra: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2019-09-10 08:13] Issif commented on #8
For code coverage, I pretty like [coverall](https://coveralls.io/), github actions for units tests and coverall for code coverage.

[2019-09-10 09:20] rajibmitra commented on #7
@markyjackson-taulia can we have a prow instance like https://prow.falcoctl.io  like k8s has https://prow.k8s.io/

[2019-09-10 09:47] fntlnz commented on #7
I have a domain called `falcosecurity.dev` - I think we might like to use that one !

[2019-09-10 09:51] rajibmitra commented on #7
great @fntlnz  lets have https://prow.falcosecurity.dev , and under this we can map all the prow jobs per repository.

[2019-09-10 10:25] leodido commented on #7
Prow instance have to be for the whole `falcosecurity` organization. The same way it is now (PTAL https://github.com/falcosecurity/test-infra).

[2019-09-10 11:12] rajibmitra opened #9 "Add readme file for falcoctl."
Let us add one readme file for falcoctl with all the details especially the arguments.
cc @falcosecurity/falcoctl-maintainers

[2019-09-10 11:12] poiana commented on #9
@rajibmitra: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2019-09-10 11:12] leodido commented on #8
I would prefer to not have github action as discussed during our last office hours.

Since we have prow in place we can create prow jobs for testing and coverage purposes. Also we are in the process of having a dedicated CI/CD infrastructure for this whole organization and projects :)

[2019-09-10 11:14] rajibmitra commented on #8
Okay @leodido  , closing this issue now.

[2019-09-10 11:14] #8 closed

[2019-09-10 11:27] leodido commented on #9
/kind documentation

[2019-09-10 13:10] markyjackson-taulia commented on #7
@falcosecurity/falcoctl-maintainers I will try to get this out today or tomorrow. I want to work with @rajibmitra

[2019-09-10 13:12] markyjackson-taulia commented on #9
/assign @markyjackson-taulia @rajibmitra
I am going to assign this to both of us @rajibmitra. Would make sense to start a public google doc and work off of that?

[2019-09-10 16:18] rajibmitra commented on #9
Sure, I like the idea.

[2019-09-10 16:33] markyjackson-taulia commented on #9
@rajibmitra I created this folder https://drive.google.com/drive/folders/1z5-TIZRijoxVJI0zoVbkhv6sGA8xMWxW?usp=sharing in google drive. In it is the start of our document for the readme. You should have edit rights

[2019-09-11 04:41] markyjackson-taulia commented on #7
See issue https://github.com/falcosecurity/test-infra/issues/59

[2019-09-11 05:59] fntlnz commented on #7
Sorry @markyjackson-taulia the title is confusing me. Should be gcp and not grpc right ?

[2019-09-11 12:21] markyjackson-taulia commented on #7
Correct @fntlnz

[2019-09-12 19:17] rajibmitra opened #11 "Add one README file with examples per latest code which just got merged."
**What would you like to be added**:
one README file with examples describing what its doing.

**Why is this needed**:
To get better idea whats kris's poc code is doing.

[2019-09-27 12:43] caniszczyk opened #12 "Add LICENSE"
Please add Apache v2.0 license

[2019-10-04 09:17] leodido commented on #11
Ref #9

[2019-10-09 15:40] fntlnz opened #13 "Setup go modules"
**What would you like to be added**:

Go modules setup for this repository.

**Why is this needed**:

Because people trying to contribute new subcommands to it will need a way to define dependencies.

[2019-10-09 15:43] fntlnz opened #14 "Actual dependencies are broken"
**What happened**:

When building falcoctl an error is given.

[code]

**What you expected to happen**:

It just builds

**How to reproduce it (as minimally and precisely as possible)**:

Try to build it
[code]

**Anything else we need to know?**:

Originally reported by @mstemm trying to add a command https://github.com/falcosecurity/falco/pull/826#issuecomment-539713849

Also related to Go modul

[2019-10-09 18:19] Issif commented on #14
`kubicorn` uses `k8s.io/kube-openapi/cluster-api/api/cluster/v1alpha1`as dependency but it doesn't exist anymore. See : https://github.com/kubicorn/kubicorn/blob/master/Gopkg.lock#L824

`cluster-api` API of k8s is now in `v1alpha2` state : https://github.com/kubernetes-sigs/cluster-api/tree/master/api/v1alpha2

[2019-10-10 11:52] #12 closed

[2019-10-10 12:33] leodido commented on #11
/kind documentation

[2019-10-10 12:35] #13 closed

[2019-10-10 12:35] #14 closed

[2019-10-10 16:51] leodido opened #19 "Use existing cobra/viper mechanism to bind environment variables to flags"
**What would you like to be added**:

Viper has mechanism to provide environment variables as fallbacks for CLI flags (or viceversa).

**Why is this needed**:

Because we would like to provide also a CLI experience based on env vars.

[2019-10-10 16:59] fntlnz opened #20 "Move the build slim images tool here"
**What would you like to be added**:
They are in @mfdii PRs in Falco, we want them as subcommand here.

https://github.com/falcosecurity/falco/pull/776

**Why is this needed**:

Because in the repo planning call we decided we want tools all in one place.

[2019-10-11 16:21] #20 closed

[2019-10-11 16:27] leodido commented on #11
Any update on this @rajibmitra ?

[2019-10-21 11:31] fntlnz opened #24 "Automated releases"
**What would you like to be added**:
Instead of doing releases manually, we want do to them automatically.
Goreleaser does that job very well.

Goreleaser website:
https://goreleaser.com/

See kubectl-trace as an example to see how it's configured:
https://github.com/iovisor/kubectl-trace/blob/master/.goreleaser.yml

**Why is this needed**:

Manual releases are a pain

[2019-10-22 05:53] kris-nova opened #27 "Falcoctl does NOT install"
**What would you like to be added**:

Integration tests with Falcoctl to ensure it installs globally on Kubernetes

**Why is this needed**:

[2019-10-22 05:54] kris-nova commented on #27
This also implies Kubernetes audit logging

[2019-10-28 13:54] #24 closed

[2019-10-30 09:46] oke-py opened #33 "Use apps/v1 instead of apps/v1beta2"
**What would you like to be added**:

`apps/v1` should be used instead of `apps/v1beta2`.

e.g.
https://github.com/falcosecurity/falcoctl/blob/master/pkg/kubernetes/falco.go#L26

**Why is this needed**:

In k8s v1.16 `apps/v1beta2` is deprecated and removed.
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2019-10-30 14:36] oke-py commented on #33
@leodido I'd like to, but I'm not sure how to make sure it works. I won't submit a PR.

[2019-10-30 18:38] natchaphon-r opened #34 "Extend falcoctl to build falco kernel probe"
**What would you like to be added**:
A utility provided by falcoctl to install kernel probe for the OS the command is executed on. The command can be run before running a slim or minimal falco container.

**Why is this needed**:
- Falco does not pre-build kernel probe for all distributions/kernels
- See discussion in https://github.com/falcosecurity/falco/issues/890

[2019-10-30 23:03] leodido commented on #34
Thanks for reporting what we discussed during the today's meeting. :)

Aside from this option I proposed today, in the next days we'll probably
propose another option too to approach this need.

Would be awesome if you could contribute this command anyway!

On Wed, Oct 30, 2019, 7:38 PM Natchaphon Ruengsakulrach <
notifications@github.com> wrote:

[2019-11-08 11:51] leodido opened #42 "Create command to generate Falco events"
**What would you like to be added**:

A command (and the relative library) to generate Falco events.

It should do what https://github.com/falcosecurity/falco/blob/dev/docker/event-generator/event_generator.cpp does.

**Why is this needed**:

To remove the docker/event-generator directory from Falco repository and provide the events generator via `falcoctl`.

[2019-11-08 12:01] leodido commented on #42
Notice also that [integrations](https://github.com/falcosecurity/falco/blob/dev/integrations/k8s-using-daemonset/falco-event-generator-deployment.yaml) uses the current "sysdig/falco-event-generator" docker image. This means we need to build the new "falco/falco-event-generator" docker image starting from the library we'll create in falcoctl for this matter.

[2019-11-19 01:00] kris-nova opened #44 "Refactor the CLI core to support common processes and actions for features like TLS and rules"
**What would you like to be added**:

Following a meeting at Kubecon, we began to explore the way that `falcoctl` is currently architected.
For user experience, and programming ease we would like to propose the following structure to the project.

We will began to look at the various pieces of  of `falcoctl` as **procceses**.

These **processes** represent features that we would like `falcoctl` to

[2019-11-19 01:05] kris-nova commented on #44
Note this would help us with our work with the Cloud Native Security Hub at securityhub.dev

We can begin to explore building out **processes** and **actions** for rules such as

[code]

[2019-11-19 01:05] leodido commented on #44
Perfect.

Only one nitpick: is “process” the word we want ? I would personally prefer something like “concept” or “area”.

Also, should we open other proposals/issues for other topics we discussed?
Namely the error management and the interactive mode

[2019-11-19 10:07] Issif commented on #44
I propose `context`, for example :
- tls : CA/key/cert generation
- probe : Install probe from S3 ou by `make`. We can either check is correct probe is on S3.
- rule : Install/Update/Delete rule(s) from Hub
- config : Apply configuration to Falco (with future API I guess)
- events : live stream of events through gRPC

[2019-11-19 15:40] kris-nova commented on #44
Yes @leodido please open issues for them and link them here

[2019-11-19 15:43] kris-nova commented on #44
@Issif @leodido regarding `context`

I think context is great, and I am sure others would agree. The reason I suggested `process` was so we could have a friendly interface name. The Go naming convention says

Link: https://golang.org/doc/effective_go.html

So if we are okay with calling them `context`/`contexts` and calling the interface `contexter` or `contextable` that works for me!

Just ideas

[2019-11-19 16:41] Issif commented on #44
👍 for `contexter`

[2019-11-20 07:56] Kaizhe commented on #44
Can we have `falcoctl install rule -f <falco_rule_sinpet.yaml>` so that I don't need even install falco locally.

[2019-11-21 18:46] tylerauerbeck commented on #33
@leodido If this is still an issue, I wouldn't mind giving this a shot.

[2019-11-24 10:20] tylerauerbeck opened #47 "Creation of AuditSink isn't idempotent"
**What happened**:

According to the code comments [here](https://github.com/falcosecurity/falcoctl/blob/master/pkg/kubernetes/falco.go#L96-97):
[code]
However I get the following error if the AuditSink already exists:

`Fatal error: auditsinks.auditregistration.k8s.io "falco-audit-sink" already exists`

**What you expected to happen**:

I would expect to receive a message similar to the others wh

[2019-11-24 10:25] tylerauerbeck opened #48 "falcoctl delete falco doesn't cleanup clusterrole, clusterrolebinding or auditsink"
**What happened**:

When running `falcoctl delete falco` -- this command leaves behind the clusterrole, clusterrolebinding and auditsink that it creates.

**What you expected to happen**:
I would expect the command to clean up all objects that were created by the installer.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
You should then see the falco objects mentioned abo

[2019-11-25 23:35] #33 closed

[2019-11-27 18:05] #48 closed

[2019-12-05 12:43] leodido opened #51 "Command to search probes"
**What would you like to be added**:

Following a discussion on the open slack I had the idea of introducing a command to search probes (by platform, by version etc).

Eg., falcoctl search probes

Not yet sure about the nomenclature. It should be a command name that matches the future structure of this tools (see #44)

**Why is this needed**:
It can be useful to have a way to detect whether a prob

[2019-12-17 19:41] leodido opened #52 "Fix certs generation (path and not)"
**What happened**:

Generated certs do not work. First of all they are generated into `/etc/certs` rather than `/etc/falco/certs`. Also when manually moved they do not work.

**What you expected to happen**:

That the certs work. And that they are generated in the correct directory.

**How to reproduce it (as minimally and precisely as possible)**:

1. run `falcoctl install tls`
2. enable gRPC ser

[2019-12-20 03:00] kris-nova opened #53 "Probe loader should be renamed"
**What happened**:

Doing some homework on building an `eBPF` probe loader into `falcoctl` and I checked out the `probeloader` package.

It's currently using syscall `313` which is for loading kernel modules (not eBPF probes)

**What you expected to happen**:

Maybe we should call the package `kernelmoduleloader`?

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else

[2019-12-20 17:26] #52 closed

[2020-01-13 11:53] leodido opened #56 "Error releasing falcoctl"
**What happened**:

During the release of a patch version of `falcoctl` the following error shown up:

[code]

**What you expected to happen**:

The release process to work.

**How to reproduce it (as minimally and precisely as possible)**:

Follow RELEASE.md instructions.

[2020-01-22 15:42] kris-nova commented on #53
/label good-first-issue

[2020-01-22 15:42] poiana commented on #53
@kris-nova: The label(s) `/label good-first-issue` cannot be applied. These labels are supported: `kind/pr, kind/issue`

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/53#issuecomment-577247039):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or

[2020-01-22 15:43] #27 closed

[2020-01-22 15:44] kris-nova commented on #47
This is a good issue, and in general the library we use to install Falco in Kubernetes is very hard-coded and needs some love.

[2020-01-22 15:46] kris-nova opened #57 "Standardize falcoctl Go structure"
**What would you like to be added**:

Can we please go through the `/cmd` and `/pkg` directories and do a quick refactor to idiomatic go practices? Looks like there is some concern with naming files and packages, and we want to make sure we use best practices here.

**Why is this needed**:

The project is still young, and we should get it started on the right foot.

[2020-01-22 19:48] AnishShah commented on #53
I would like to work on this.

/assign

[2020-01-23 01:43] ndhanushkodi commented on #47
I'd like to work on this
/assign

[2020-01-23 01:56] kris-nova commented on #47
/assign ndhanushkodi

[2020-01-23 01:58] kris-nova commented on #47
Also it looks like `falcoctl delete` doesn't remove all the resources that were installed - so we should probably look at that as well

[2020-01-24 13:56] sureshpalemoni commented on #57
Submitted this PR for the /cmd directory https://github.com/falcosecurity/falcoctl/issues/57

[2020-01-24 15:55] sureshpalemoni commented on #57
https://github.com/falcosecurity/falcoctl/pull/63 - refactored only cmd directory

[2020-01-24 17:50] brainsnail commented on #44
I think there are a couple of open issues around refactoring (https://github.com/falcosecurity/falcoctl/issues/57, ) - would y'all want to wait for those to be in a merged or completed state prior to moving forward with this or do you think it could be done concurrently?

[2020-01-24 19:27] kris-nova opened #64 "Falcoctl Commands"
# History

This project was originally proposed here in https://github.com/falcosecurity/falco/issues/811

The purpose of this project is to support and encapsulate commonly used logic for The Falco Project.

# What is a Falcoctl command?

A command consists of three things.

 - An action
 - A subject
 - A target

For instance the following CLI command

[code]

Would yield:

 - Install (action)
 -

[2020-01-24 19:28] kris-nova opened #65 "Falcoctl Commands"
# History

This project was originally proposed here in https://github.com/falcosecurity/falco/issues/811

The purpose of this project is to support and encapsulate commonly used logic for The Falco Project.

# What is a Falcoctl command?

A command consists of three things.

 - An action
 - A subject
 - A target

For instance the following CLI command

[code]

Would yield:

 - Install (action)
 -

[2020-01-24 19:36] kris-nova commented on #65
If folks have thoughts/ideas for other commands please begin documenting them here in the same fashion as above.

Also - reminder if you would like to start refactoring or creating new commands to just open up an issue for whatever command you are interested in working on so we can track it.

Happy hacking :)

[2020-01-24 19:39] #64 closed

[2020-01-24 19:47] kris-nova opened #66 "Implement /process interface"
This is slightly more heavy lifting, but myself, @fntlnz, and @leodido created [an interface](https://github.com/falcosecurity/falcoctl/blob/master/process/interface.go) to use for the `falcoctl` commands. This would allow us to standardize how we build out our commands, and would mean that we can easily start defining common logic for all commands.

Examples of common logic:

 - Authenticating wi

[2020-01-24 20:04] rajibmitra commented on #65
/assgin @rajibmitra

[2020-01-24 20:47] mohitgoyal2011 opened #67 "Implementing "falcoctl install falco --local" using the process interface"
**What would you like to be added**:
Base on #65 and #66, this feature request is to implement falcoctl install falco --local. Here are the code changes planned :
  - new go file called install_falco_local.go will be created
  - this will implement the interface present in the /process

**Why is this needed**:
  - To implement one of the commands mentioned in #65

**About me**
 - I am a software d

[2020-01-24 20:47] mohitgoyal2011 commented on #67
\assign me

[2020-01-24 20:48] mohitgoyal2011 commented on #67
/assign mohitgoyal2011

[2020-01-24 21:33] brainsnail commented on #66
This is something I'd like to give a shot, @kris-nova. I was kind of waiting to see if some of the refactors were going to land prior to digging in a bit more (https://github.com/falcosecurity/falcoctl/issues/44). Thoughts?

/assign @brainsnail

[2020-01-25 07:53] kris-nova commented on #67
Please make sure you review https://github.com/falcosecurity/falcoctl/issues/47

To make sure we are collaborating on effort for this

[2020-01-26 07:02] sureshpalemoni commented on #57
/assign

[2020-01-26 07:02] sureshpalemoni commented on #57
https://github.com/falcosecurity/falcoctl/pull/68

[2020-01-26 13:11] kris-nova commented on #67
Also adding this to the call next wed - there might be some discussion about how we handle eBPF probes and kernel modules :wink:

[2020-01-26 13:33] kris-nova commented on #67
Also check out this issue I opened #1024

There is a lot to consider here, and I think having the operating system logic to install Falco should live in a place that users of the operating system would expect it to be.

Note: If we had Falco supported in many different operating systems natively, building a Falco container would be as simple as doing something like apt-get install falco

Furthermo

[2020-01-26 13:50] kris-nova opened #69 "Command for a hot-reload (dynamic reload) of Falco"
**What would you like to be added**:

Right now you can send `SIGHUP` to Falco to trigger a hot reload.

This will re-load rules, and configuration without actually stopping the process.

**Why is this needed**:

User experience for easily adding/mutating rules and config on the fly.

[2020-01-26 22:48] mohitgoyal2011 commented on #67
So, I am looking at the current code and the way the installation is being done in the bash script. So, across the distros, I think there are 4 steps to every filesystem installation :
1. Adding the Sysdig public key
2. Then adding the falco repo and enabling it
3. Installing kernel headers using the package manager
4. Install Falco using the package manager
(I kind of listed down the logs in the

[2020-01-27 01:51] kris-nova commented on #65
Also please read https://github.com/falcosecurity/falco/issues/1024#issuecomment-578566826

After looking at the user experience of a `--local` and a `--kubernetes` flag it might make sense to define an environmental variable such as

[code]

Or even add documentation to do something like this

[code]

So that

[code]

[2020-01-27 08:43] AnishShah commented on #69
I can work on this.

/assign

[2020-01-27 10:29] sureshpalemoni commented on #57
@kris-nova Can this issue be closed?

[2020-01-30 05:59] sureshpalemoni commented on #57
/close

[2020-01-30 05:59] poiana commented on #57
@sureshpalemoni: You can't close an active issue/PR unless you authored it or you are a collaborator.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/57#issuecomment-580096221):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions relat

[2020-02-02 13:11] joshuabezaleel commented on #65
Hi @rajibmitra , I want to have a shot on this if it's okay with you and there are some commands left to be implemented. From the "Features" section above, which of the feature requests are you currently implementing or are you implementing all of them?

Thank you very much :slightly_smiling_face:

[2020-02-02 21:01] Issif commented on #51
I had this exact issue in mind when I started to work on :

https://thomas.labarussias.fr/falco-probes/

My idea was to provide json files that can be consumed by any extra tool, like `falcoctl`.

Here an example : https://thomas.labarussias.fr/falco-probes/data/0.17.1.json

The CI which build kernel modules should create them.

[2020-02-02 21:06] Issif commented on #65
Install `falcosidekick` on the local file system

[code]

Install `falcosidekick` in Kubernetes

[code]

😃

[2020-02-02 23:56] fntlnz commented on #51
I think that this is outdated now that we made a decision on the service right ?

Referring to this: https://github.com/falcosecurity/falco/issues/1027

Proposal not yet done.

[2020-02-03 08:09] Issif commented on #51
👍

[2020-02-03 17:59] rajibmitra commented on #65
Hi @joshuabezaleel I have assigned this to you , pelase go ahead and raise a PR. I would love to take a look.If you got any questions feel free to ping me in slack.

[2020-02-05 16:20] kris-nova opened #71 "Add command to obtain Falco version"
**What would you like to be added**:

[code]

This would similar to `kubectl version` and work with this new API https://github.com/falcosecurity/falco/pull/872

**Why is this needed**:

[2020-02-05 17:02] leodido commented on #71
/good-first-issue

[2020-02-05 19:44] kris-nova opened #72 "Falcoctl install uses an older version of DaemonSet"
**What happened**:

Running a Kubernetes 1.17 cluster trying to install the daemonset with version `extension/v1beta` fails as this API expects `apps/v1`

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-02-06 06:54] kris-nova commented on #72
This brings to mind a broader effort to support a helm chart as part of the effort here

[2020-02-06 06:57] #47 closed

[2020-02-06 07:02] AnishShah commented on #69
Hi Kris. Since Falco runs as DaemonSet, do we want to just delete the pods scheduled by the DaemonSet? It will automatically schedule a new pod. I'm not sure how to send SIGHUP to a Pod.

[2020-02-06 07:37] abd2312 commented on #71
Hi @kris-nova  , I want to work on this if it's okay with you.

[2020-02-06 07:40] rashmi43 commented on #72
I would like to take this up.

[2020-02-06 14:37] ameukam commented on #65
Hi @kris-nova, I'm not sure how `falcoctl install` works. I would like to suggest:
[code]

[2020-02-07 09:30] kris-nova opened #73 "Smart Install"
**What would you like to be added**:

Right now there are many concerns with installing Falco.

 - A DaemonSet does not schedule Falco on the master (this is very bad)
 - Falco needs to run as a privileged user
 - There are concerns with different versions of Kubernetes (API incompatibility)
 - Configuring outputs
 - Configuring Kubernetes audit

Can we please start to solve the install step by fi

[2020-02-07 15:58] ndhanushkodi commented on #73
I'd like to work on this :)
/assign

[2020-02-15 16:53] q2dg commented on #67
Note Falco scripted install (https://falco.org/docs/installation/#scripted) fails miserably in Fedora systems

[2020-02-18 12:53] leodido commented on #71
Hey Kris, this should be something like (imho):

[code]

This because the Falco Version API returns the Falco version.

[2020-02-18 13:17] #53 closed

[2020-02-21 13:32] KyleMartin901 commented on #72
Hi @rashmi43 this is how I was able to reproduce the error hope that it helps.

I created a v1.17.3 [KIND Kubernetes](https://github.com/kubernetes-sigs/kind) cluster

[code]

Once I had that running I downloaded the latest released version of falcoctl v0.0.7

[code]

I then install Falco using the falcoctl Kubernetes installer

[code]

As you can see the it will error when trying to create the da

[2020-03-02 12:27] leogr opened #76 "go build error - kernelmoduleloader.GetKernelConfigHash and kernelmoduleloader.GetKernelRelease are undefined"
**What happened**:
`go build .` returns the following errors:
[code]

**What you expected to happen**:
No errors.

**How to reproduce it (as minimally and precisely as possible)**:
`go build .`

**Anything else we need to know?**:
Tested on the master branch.

[2020-03-02 12:32] leogr commented on #76
I have realized that just removing the `Get` prefixes should be enough to solve this issue.
I will make a PR shortly.
/assign

[2020-03-02 16:26] #76 closed

[2020-03-13 11:10] leogr opened #78 "Wrong permission bits when making certs directory"
**What happened**:
When running `FALCOCTL_PATH=/tmp/falco falcoctl install tls`, the `x` bit is not set on directory thus the creation of the files fails (it does not happen if the directory is already present and has right permissions)

**What you expected to happen**:
Correct directory permission bits and no error.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[code

[2020-03-13 15:11] #78 closed

[2020-03-15 17:14] sureshpalemoni commented on #72
@KyleMartin901  How do I install falco on mac?

[2020-03-15 17:47] rashmi43 commented on #72
Thanks @KyleMartin901 .

[2020-03-15 17:48] rashmi43 commented on #72
Can I work on the helm chart creation @kris-nova ?

[2020-03-17 14:12] leogr opened #80 "Rename SYSDIG_BPF_PROBE to FALCO_BPF_PROBE"
**What happened**:
Since Falco v0.21.0, SYSDIG_BPF_PROBE has been renamed to FALCO_BPF_PROBE by https://github.com/falcosecurity/falco/pull/1050

**What you expected to happen**:
We should update that [here](https://github.com/falcosecurity/falcoctl/blob/master/pkg/kubernetes/falco.go#L336).

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-03-19 11:19] leogr opened #81 "Use driverkit as a library"
**What would you like to be added**:
As discussed during the community call, it would be nice to use driverkit in order to build the kernel module and the eBPF probe when needed by "install" commands.

**Why is this needed**:
[driverkit](https://github.com/falcosecurity/driverkit) is the new tool to build the Falco kernel module and eBPF probe. It's written in Go and can be easily used as a librar

[2020-03-20 09:03] leogr commented on #72
We already have a stable helm chart here: https://github.com/helm/charts/tree/master/stable/falco

[2020-03-20 10:04] leogr commented on #42
I can work on this once we make a decision on https://github.com/falcosecurity/falco/issues/1089
/assign

[2020-03-20 10:10] leogr commented on #34
driverkit could be used to build the kernel module/eBPF probe for all distribution, I will start working on integrating it into falcoctl soon: https://github.com/falcosecurity/falcoctl/issues/81

Furthermore, the kernel module can be easily installed in [this way](https://github.com/falcosecurity/driverkit/issues/23), and I think `falcoctl` could to that for the user :)

/assign

[2020-03-20 13:02] leogr opened #82 "Add an option to set the namespace for `install falco` command"
**What would you like to be added**:
It would be nice to have an option to set the namespace in which Falco will be deployed, for example:
[code]
**Why is this needed**:
Currently, there's no option for that, and Falco is always deployed to [the hardcoded](https://github.com/falcosecurity/falcoctl/blob/master/pkg/kubernetes/falco.go#L77) `falco` namespace.

[2020-03-20 13:02] leogr commented on #82
/assign

[2020-03-20 15:29] leogr commented on #56
As I understood the real issue is `github.com/spacemonkeygo/openssl` that needs CGO enabled.
I tried with `CGO_ENABLED=1` for linux/amd64 and it works, but still fails for linux/386 (because of missing headers on my system when using CGO).

That being said, we should also think about replacing  `github.com/spacemonkeygo/openssl` that has not been updated since 2018.

[2020-03-20 16:53] leodido commented on #56
I noticed this issue too some weeks ago but forgot to open an issue. Thanks
for reporting it! 🤗

I’d prefer to replace that library too

On Fri, 20 Mar 2020 at 16:29, Leonardo Grasso <notifications@github.com>
wrote:

--
L.

[2020-03-22 14:22] leogr commented on #56
I'd prefer too, anyway I'm not sure there's an alternative that does not need CGO. I will investigate.
/assign

[2020-03-26 06:54] ndhanushkodi commented on #73
I'd like to unassign myself and focus on learning more about core falco
/unassign

[2020-03-26 11:48] #56 closed

[2020-03-26 14:47] kris-nova opened #86 "[WIP] Proposal for Falcoctl installer"
# Falcoctl

# Installation Experiences

## Linux
- Download static binary `falcoctl`
- `falcoctl install falco --target=local`
    - Install the driver
    - Install falco

## Kubernetes
- Download static binary `falcoctl`
- `falcoctl install falco --target=kubernetes`
    - Install the driver
    - Deploy resources according to Kubernetes version

## Kubernetes (operator)
 - Download static binar

[2020-03-26 15:15] leogr commented on #86
/assign

[2020-03-26 15:23] leogr commented on #73
Furthermore, I believe we should clarify more the goals that `falcoctl` wants to achieve before implementing the right installation strategy. So I'd propose to close this issue in favor of #86

@ndhanushkodi feel free to share your thoughts on this topic anyway! We're still working on that and every opinion counts :)

[2020-03-26 15:25] leogr commented on #72
Update: we should take care of this when working on #86

[2020-03-26 17:56] kris-nova commented on #86
I wrote a lot more of this up https://github.com/falcosecurity/falco/issues/1114#issuecomment-604580503

Basically I think falcoctl should have a `kubeadm` like experience and the more I think about it - the more I think the paradigm that you can "use kubernetes to install falco" is broken.

[2020-03-27 09:17] leogr commented on #65
I would like to suggest:
- `--target=kubernetes`
- `--target=local`
It would be clearer and can simplify the addition of further targets.
WDYT?

[2020-03-27 09:19] leogr commented on #86
Question:
Should Kubernetes be the default [target](https://github.com/falcosecurity/falcoctl/issues/65#issuecomment-604897108) ?

[2020-03-30 14:11] leodido opened #87 "CLI tests"
**What would you like to be added**:

Since `falcoctl` starts to grow, it would be a good thing to also test its CLI.

This can be done in the same way I did for `driverkit`, [here](https://github.com/falcosecurity/driverkit/pull/49).

**Why is this needed**:

The goal is to be able to introduce new flags, new sub-commands, etc. without breaking the existing ones.

[2020-03-30 16:00] leogr commented on #86
Update: after a long talk with @fntlnz and @leodido we all agree that makes sense to leave the driver downloading and installation logic inside the falco-driver-loader. Furthermore, with very few improvements, [it can be used by falcoctl](https://github.com/falcosecurity/falco/issues/1125) in a versioned way.

[2020-03-31 08:57] leogr commented on #87
I agree, but we may need to change some command interfaces, so I'd wait until https://github.com/falcosecurity/falcoctl/issues/86 has been done.

[2020-03-31 09:17] leogr opened #88 "Wrap falco-driver-loader to install various driver"
**What would you like to be added**:
`falcoctl` could simply wrap the `falco-driver-loader` rather than [replicating the driver installation logic](https://github.com/falcosecurity/falcoctl/blob/master/pkg/kernelmoduleloader/kernel_module_loader.go)

**Why is this needed**:
As discussed [here](https://github.com/falcosecurity/falco/issues/1125), we agreed on the fact that tools can wrap `falco-dri

[2020-04-01 15:53] leogr commented on #86
Hey @kris-nova I've update the issue description

[2020-04-03 10:59] RajatVaryani commented on #71
@leodido @kris-nova Is this open for contribution?

[2020-04-06 09:30] #87 closed

[2020-04-08 16:30] leogr commented on #42
**Update** (see also https://github.com/falcosecurity/falco/issues/1089#issuecomment-611036165 ):

Assuming that the new event-generator is a full-featured CLI, I am not sure if we should implement the command here.

**My alternative**

*Rationale*
When the implementation of a feature is vast enough and does not directly depend on `falcoctl` basic functionality, it makes sense to implement that fe

[2020-04-21 10:39] leogr opened #93 "Kubefactory improvements and auth support"
**What would you like to be added**:
- [ ] enable auth plugins by importing `_ "k8s.io/client-go/plugin/pkg/client/auth"`
- [ ] switch to the `k8s.io/kubectl/pkg/cmd/util` provided factory instead of a custom one

**Why is this needed**:
As we discovered, since `k8s.io/kubectl v0.17.3` it's easy to use their provided factory, moreover, we should also support different auth mechanisms by simply imp

[2020-04-21 10:41] leogr commented on #93
/assign

[2020-04-30 08:04] leogr commented on #34
Not a `falcoctl` responsibility anymore.

[2020-04-30 08:04] #34 closed

[2020-04-30 08:06] leogr opened #94 "A command to deploy the event-generator"
**What would you like to be added**:
A command to deploy the [event-generator](https://github.com/falcosecurity/event-generator) in a k8s cluster.

**Why is this needed**:
See https://github.com/falcosecurity/event-generator/issues/8

[2020-04-30 08:07] leogr commented on #42
Replaced by https://github.com/falcosecurity/falcoctl/issues/94

[2020-04-30 08:07] #42 closed

[2020-04-30 08:09] #73 closed

[2020-04-30 08:10] leogr commented on #81
Closed since we can use :point_right:  https://github.com/falcosecurity/falco/issues/1171

[2020-04-30 08:10] #81 closed

[2020-04-30 08:12] leogr commented on #88
Once https://github.com/falcosecurity/falco/issues/1171 is ready, we can just use the provided image.

[2020-04-30 10:11] leogr opened #95 "Falco with Kubernetes"
**What would you like to be added**:
As discussed several times, we would like to use `falcoctl` as the official installation method for running Falco *with* Kubernetes.

**Why is this needed**:

As explained [here](https://github.com/falcosecurity/falco/issues/1114#issuecomment-604580503), Falco is NOT a Kubernetes application. Thus it should not just be deployed in a cluster like any other Kuber

[2020-04-30 14:18] leogr commented on #86
Replaced by #95 - feel free to reopen this (or a new one) if something important is missing.

[2020-04-30 14:18] #86 closed

[2020-04-30 14:21] leogr commented on #72
Closed in favor of #95

[2020-04-30 14:21] #72 closed

[2020-04-30 14:23] leogr commented on #69
Since we agreed on install Falco (see #95 ) we will need to implement the config hot reload in a different way.

[2020-04-30 14:23] #69 closed

[2020-04-30 14:27] leogr commented on #51
As discussed recently, I believe this does not apply anymore. Feel free to re-open it if I misunderstood the scope of this issue.

[2020-04-30 14:27] #51 closed

[2020-04-30 14:31] leogr commented on #67
Hey @q2dg
Could you report your issue in the [falco-website](https://github.com/falcosecurity/falco-website) and add more context, please?

[2020-04-30 14:38] leogr commented on #67
As discussed recently with the community, we don't want to support further Falco installation methods other than the official ones. Thus, I believe this issue should be closed.
See #95

[2020-04-30 14:38] #67 closed

[2020-04-30 14:39] leogr commented on #57
Done

[2020-04-30 14:39] #57 closed

[2020-04-30 16:20] nibalizer commented on #95
Thanks for working on this! I appreciate my use case being kept alive.

Re versions: [IBM Cloud defaults](https://cloud.ibm.com/docs/containers?topic=containers-cs_versions#version_types) to 1.16 and considers 1.14 and below deprecated. So from my perspective you're good to start as high as 1.16. If I'm reading [the upstream docs](https://kubernetes.io/docs/setup/release/version-skew-policy/) corr

[2020-04-30 17:04] leogr commented on #95
You're welcome! :+1:

Good to know that

Good question.

Since Falco will be installed on the Linux level there's no lifecycle here. Also, I'm assuming `falcoctl` has the simple responsibility to help a human in installing Falco next to K8s - not controlling the lifecycle (at least not atm).

Maybe we can add another layer later that runs into the cluster and take care of lifecycle (an operator?).

[2020-07-01 08:51] leodido opened #97 "Update k8s audit endpoint"
**What would you like to be added**:

I'd like the K8S Audit endpoint to be kept in sync with the new one - ie., `k8s-audit` rather than `k8s_audit`.

https://github.com/falcosecurity/falcoctl/blob/27269666d51702083ed21f5fdb82f369a3bf7d00/pkg/kubernetes/rules_default.go#L2810

**Why is this needed**:

This is needed because of https://github.com/falcosecurity/falco/pull/1261

[2020-07-01 13:06] leogr commented on #97
/assign

[2020-07-15 08:59] leogr commented on #97
/milestone v0.2.0

[2020-11-19 01:23] poiana commented on #9
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 01:23] poiana commented on #7
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 07:23] poiana commented on #11
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 19:23] poiana commented on #44
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-19 19:23] poiana commented on #66
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 13:23] poiana commented on #65
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 13:23] poiana commented on #71
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-20 19:23] poiana commented on #93
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 01:23] poiana commented on #94
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 01:23] poiana commented on #88
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 13:23] poiana commented on #95
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 19:23] poiana commented on #82
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 19:23] poiana commented on #80
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-11-21 19:23] poiana commented on #97
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2020-12-20 03:33] poiana commented on #9
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-20 03:33] poiana commented on #7
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-20 09:34] poiana commented on #11
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-21 21:34] poiana commented on #44
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-22 03:35] poiana commented on #66
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 09:35] poiana commented on #65
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 15:35] poiana commented on #71
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-24 21:35] poiana commented on #93
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 09:35] poiana commented on #94
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-25 15:35] poiana commented on #88
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-27 15:35] poiana commented on #95
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-28 15:35] poiana commented on #82
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-28 21:35] poiana commented on #80
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2020-12-28 21:35] poiana commented on #97
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2021-01-19 03:38] poiana commented on #9
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-19 03:38] poiana commented on #7
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-19 03:38] #9 closed

[2021-01-19 03:38] poiana commented on #9
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/9#issuecomment-762581529):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-01-19 03:38] #7 closed

[2021-01-19 03:38] poiana commented on #7
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/7#issuecomment-762581539):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra

[2021-01-19 09:38] poiana commented on #11
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-19 09:38] poiana commented on #11
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/11#issuecomment-762722512):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-19 09:38] #11 closed

[2021-01-21 02:56] poiana commented on #44
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-21 02:56] #44 closed

[2021-01-21 02:56] poiana commented on #44
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/44#issuecomment-764198857):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-21 08:56] poiana commented on #66
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-21 08:56] #66 closed

[2021-01-21 08:56] poiana commented on #66
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/66#issuecomment-764484370):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-23 09:43] poiana commented on #65
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-23 09:43] #65 closed

[2021-01-23 09:43] poiana commented on #65
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/65#issuecomment-765896715):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-24 02:56] poiana commented on #71
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 02:56] #71 closed

[2021-01-24 02:56] poiana commented on #71
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/71#issuecomment-766281520):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-24 02:56] poiana commented on #93
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 02:56] #93 closed

[2021-01-24 02:56] poiana commented on #93
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/93#issuecomment-766281531):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-24 14:56] poiana commented on #94
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 14:56] poiana commented on #94
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/94#issuecomment-766361015):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-24 14:56] #94 closed

[2021-01-24 20:56] poiana commented on #88
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-24 20:56] #88 closed

[2021-01-24 20:56] poiana commented on #88
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/88#issuecomment-766430587):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-26 20:56] poiana commented on #95
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-26 20:56] #95 closed

[2021-01-26 20:56] poiana commented on #95
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/95#issuecomment-767822554):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-27 20:57] poiana commented on #82
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-27 20:57] poiana commented on #82
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/82#issuecomment-768572163):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-27 20:57] #82 closed

[2021-01-28 02:57] poiana commented on #80
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-28 02:57] #80 closed

[2021-01-28 02:57] poiana commented on #97
Rotten issues close after 30d of inactivity.

Reopen the issue with `/reopen`.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Provide feedback via https://github.com/falcosecurity/community.
/close

[2021-01-28 02:57] poiana commented on #80
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/80#issuecomment-768762367):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2021-01-28 02:57] #97 closed

[2021-01-28 02:57] poiana commented on #97
@poiana: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/97#issuecomment-768762374):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infr

[2022-03-18 17:12] andreabonanno opened #103 "Falcoctl as a plugin/rules manager"
**What would you like to be added**:
I do think that at this moment Falcoctl is a good candidate to be revamped via the addition of new features and capabilities, aimed towards Falco-related artifacts (plugins, and possibly rules):

- retrieving artifacts metadata
- fetching and managing of artifacts versions
- automated deployment of plugins/rules
- all of the above with a UX similar with the one

[2022-03-18 17:21] loresuso commented on #103
Hi @andreabonanno ! I totally agree with this and I am up for revamping `falcoctl` together 😎

[2022-06-02 11:48] xinity opened #138 "embedded prettifier into upcoming falcoctl"
**Motivation**

this feature request is related to offering a feature baked into falcoctl wich would output a "prettified" version of falco logs.

see what isovalent tetragon is going with its CLI client:
[code]

basically fun icons, colors and log re organisation to ease the read :)

[2022-06-07 20:05] shadiramadan opened #110 "Apple M1 / darwin-arm64 build"
**What would you like to be added**:
Apple M1 support via a darwin-arm64 build.

**Why is this needed**:
Apple M1 is arm based.

[2022-06-16 18:26] poiana commented on #103
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-07-16 21:37] poiana commented on #103
Stale issues rot after 30d of inactivity.

Mark the issue as fresh with `/remove-lifecycle rotten`.

Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle rotten

[2022-08-02 04:21] atharva29 opened #114 "Config and Country have same shorthand"
**What happened**:
When I tried to generate generate certificates it gave me following error
My command was: `FALCOCTL_NAME=falco-grpc.default.svc.cluster.local FALCOCTL_PATH=/tmp/certs ./falcoctl install tls`
`
[code]
**What you expected to happen**:
- As `country` and `config` have same shorthand due to which error caused. Ideally it should generate certs

**How to reproduce it (as minimally and

[2022-08-08 08:32] leogr commented on #110
/assign @alacuku

[2022-08-08 08:32] poiana commented on #110
@leogr: GitHub didn't allow me to assign the following users: alacuku.

Note that only [falcosecurity members](https://github.com/orgs/falcosecurity/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/cont

[2022-08-08 08:32] leogr commented on #110
cc @alacuku

[2022-08-08 08:33] leogr commented on #103
cc @alacuku @loresuso

[2022-08-08 08:33] leogr commented on #103
/remove-lifecycle rotten

[2022-08-09 12:51] leogr commented on #114
Fixed by #115
Thank you!

/close

[2022-08-09 12:51] poiana commented on #114
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/114#issuecomment-1209342661):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-08-09 12:51] #114 closed

[2022-08-11 06:08] alacuku commented on #110
Hi @shadiramadan,
the `darwin-arm64` build is available here: https://github.com/falcosecurity/falcoctl/actions/runs/2835316120. Note that the artifacts are retained just for 24 hours.
Anyway, you should be able to build `falcoctl` from the source. Another alternative could be to wait for the next release.

[2022-08-23 13:24] loresuso commented on #103
After a discussion with @leogr and @alacuku, I'd like to propose a change of direction regarding the evolution of `falcoctl`, especially for the part relevant to rules and plugins distribution. We still think that this project needs to be revamped to manage Falco artifacts, but we believe that the solution proposed above is not optimal. We did some research and we ended up discovering how other pr

[2022-09-05 08:46] loresuso opened #132 "[Tracking] New `falcoctl`"
### Motivation

This issue is the main reference to list down all the tasks needed to revamp `falcoctl` and make it useful to distribute artifacts belonging to the Falco ecosystem, such as rules and plugins. We can also discuss here what features to add/remove and anything we think is relevant. We want to keep this issue as clean as possible, so if some task requires further explanation, we are go

[2022-09-05 08:46] poiana commented on #132
@loresuso: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-09-05 09:37] loresuso commented on #132
/kind feature

[2022-09-06 08:01] alacuku opened #133 "falcoctl install tls: new features and testing"
**What would you like to be added**:

`falcoctl` can be used to generate TLS certificates using the `falcoctl install tls` command. Currently the following are the flags supported by the command:
[code]
#### New features/flags
I think the following flags/options should be added to the `tls` command:
* `--rsa-bits`: Size of the RSA key to generate;
* `--host`: A comma-separated hostnames and/or IPs

[2022-09-06 08:11] alacuku commented on #133
/good-first-issue

[2022-09-06 08:11] poiana commented on #133
@alacuku:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://g

[2022-09-06 09:23] alacuku opened #134 "falcoctl registry login: enhancements"
`falcoctl registry login` is used to login to a remote OCI registry. It accepts an argument which is the `domain name` of the registry and prompts the user to input its `username` and `password`:
[code]
The credentials passed to the command are saved in `/home/user/.docker/config.json`. Subsequent calls to `falcoctl registry` commands will retrieve and use those credentials.

**What would you like

[2022-09-06 09:24] alacuku commented on #134
/good-first-issue

[2022-09-06 09:24] poiana commented on #134
@alacuku:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://g

[2022-09-06 09:57] alacuku opened #135 "falcoctl registry subcommands: new features"
`falcoct registry` is the root command of all the commands that interact with an OCI registry such as `login`, `pull`, and `push`.
Currently the `registry` commands supports only the `https` protocol. The remote registry's certificates has to be signed by a trusted CA.
It does not support plain `http` or self signed certificates.

**What would you like to be added**:
We should add a new set of opt

[2022-09-06 13:31] leogr opened #136 "Revamping falcoctl: call for core maintainers"
Dear @falcosecurity/core-maintainers  :wave:

As discussed recently, we have the intention of revamping this project. From what I understood until now, we have a short-term goal and a long-term dream.

In the short term, the idea is to make `falcoctl` the tool for installing plugins and rules artifacts (see https://github.com/falcosecurity/falcoctl/issues/103). Beyond that, I dream that this tool

[2022-09-06 14:41] zuc commented on #136
I can volunteer at least for the short term ✋

[2022-09-07 08:56] maxgio92 commented on #136
I volunteer to help on revamping `falcoctl`, for short and long-term.

[2022-09-07 14:15] FedeDP commented on #136
I can jump in as well :)

[2022-09-07 14:43] leogr commented on #136
Since if I open the PR to vote on that, I won't be able to approve that, can I ask anyone else to open it?
@jasondellaluce ?

[2022-09-07 15:53] cpanato commented on #136
+1
let me know what do i need to do :)

[2022-09-07 15:59] Issif commented on #136
this project will definitely looks like
![image](https://user-images.githubusercontent.com/4520100/188924944-a738cd5a-bad2-4a69-9b02-e5f6dc55cd8c.png)
:wink:

[2022-09-15 16:40] #136 closed

[2022-09-20 13:06] leogr opened #151 "Switch default branch to `main`"
**What would you like to be added**:

Just switch the default branch to `main`. Better sooner than later :smiley:

**Why is this needed**:

See https://inclusivenaming.org/

[2022-09-20 13:38] #151 closed

[2022-10-25 09:14] maxgio92 opened #174 "falcoctl cosign signature verification"
This issue tracks the feature proposal as for #132 to provide commands to:
- sign
- verify

in order to guarantee the authenticity and integrity of the Falco artifacts distributed by `falcoctl`.

### Proposal

As `falcoctl` followed a design where OCI registries are used as storage, for general OCI artifacts, it can make sense to store every artifact, signatures included, as OCI artifacts in regis

[2022-10-25 09:14] poiana commented on #174
@maxgio92: There is not a label identifying the kind of this issue.
Please specify it either using `/kind <group>` or manually from the side menu.

<details>

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-10-25 09:22] maxgio92 commented on #174
Hi @falcosecurity/falcoctl-maintainers I've some points in mind and related questions:

- **Compatibility**: do we want to provide compatibility with current supply chain security tools (e.g. `cosign`)? Do we want instead to provide compatibility with only `falcoctl verify` feature?

- **Storage specification**: do we want to stick to ORAS artifact spec? Do we want instead to leverage OCI artifact

[2022-10-30 12:15] maxgio92 commented on #174
Update: there's work in progress from ORAS and OCI to unify the artifact specs (OCI and ORAS) and consequent support from ORAS - of which release candidates already.

Sources:
- https://oras.land/blog/oras-0.15-a-fully-functional-registry-client/#whats-next-for-oras
- https://github.com/oras-project/oras-go/milestone/10

[2022-10-30 12:49] FeynmanZhou commented on #174
I like this proposal and I believe the next release of ORAS CLI and library could be the appropriate solution to support falcoctl sign/verify commands. The reason is that we are also working on similar things in [Notary v2 (Notation)](https://github.com/notaryproject) for signing and verifying OCI artifacts. Currently, Notation is using ORAS-go. The signatures are also persisted as ORAS artifact m

[2022-10-31 09:19] FeynmanZhou commented on #174
@maxgio92 BTW, [Notation-go](https://github.com/notaryproject/notation-go) provides APIs for signing and verifying OCI artifacts. Currently, notation-go is also towards a more extensible framework for easy integration, and we are preparing for the API doc.
Maybe you can investigate if Falcoctl CLI can leverage the Notation API (Notation-go library) in the sign/verify commands.

[2022-11-01 11:20] FeynmanZhou commented on #174
Thank you.

[2022-11-02 08:27] leogr commented on #174
cc @cpanato

[2022-11-02 13:27] maxgio92 commented on #174
Thank you so much @FeynmanZhou!

[2022-11-03 09:53] loresuso commented on #174
Ok, my two cents on this. I know that for @FeynmanZhou this could be obvious, but I am new to these topics so I will write quite a bit, just to have a validation of what I have understood and find the right way to solve the problem.

We are in front of some alternatives, so let's start from the first one.

The first option we have is to put the signature inside one of the layers of the manifest. I

[2022-11-03 22:25] toddysm commented on #174
I am trying to get a timeline from GHCR for when they will be able to support OCI 1.1 spec. Will update you if I learn something soon.

[2022-11-04 00:46] toddysm commented on #174
I am trying to get a timeline from GHCR for when they will be able to support OCI 1.1 spec. Will update you if I learn something soon.

[2022-11-04 05:38] shizhMSFT commented on #174
According to the [upgrade procedures](https://github.com/opencontainers/distribution-spec/blob/v1.1.0-rc1/spec.md#upgrade-procedures) of the distribution-spec, the remote registry may do the transition at the server side. In the case of the remote server not doing the transition, the transition still can be done at the client side using `oras-go v2.0.0-rc.4` or above.

[2022-11-04 13:34] maxgio92 commented on #174
Thanks @shizhMSFT @toddysm @FeynmanZhou @loresuso !!!

I think individual implementations of generic artifacts (signatures, SBOM, attestation, etc.) storage have been around before the introduction of what then OCI and ORAS communities just contributed and worked to unify into OCI as standard (artifact spec and reference API to link artifacts).

Now that registries are working too to stick to the

[2022-11-04 20:03] maxgio92 commented on #174
An important point: do we want to include both the signin and verification features inside falcoctl?

Or, do we want to include verification only and instead delegate signin to external tools (e.g. supposed to run in CI alongside a falcoctl artifact push)?

In both cases, a decision on the API is needed IMO.

Moreover, as https://github.com/notaryproject/notation-go/issues/136 will be completed I'

[2022-11-04 20:20] SteveLasker commented on #174
hi @maxgio92, you hit the primary point that we’re working towards; implementing standards (cose for singing), so any project, product or service can implement signing or verification across those standards.

[2022-11-08 09:21] leogr commented on #174
Hey folks,

I've read this interesting discussion and some random thoughts came to my mind:

- IMO, users should be free to sign things using their preferred tool,
- so `falcoctl` should only support verification;
- moreover `falcoctl` may support more than one standard (why should we stick just with one?).

As of today, Cosign and Notation seem equivalent to me, and I guess they both will converg

[2022-11-09 09:29] poiana commented on #110
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-09 09:33] cpanato commented on #110
/remove-lifecycle stale
/assign

[2022-11-10 10:52] cpanato commented on #110
this is done already
/close

[2022-11-10 10:52] poiana commented on #110
@cpanato: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/110#issuecomment-1310101987):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-11-10 10:52] #110 closed

[2022-11-21 15:30] poiana commented on #103
Issues go stale after 90d of inactivity.

Mark the issue as fresh with `/remove-lifecycle stale`.

Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

Provide feedback via https://github.com/falcosecurity/community.

/lifecycle stale

[2022-11-23 11:18] leogr commented on #174
The Helm way :point_right: https://github.com/falcosecurity/charts/pull/427

[2022-11-23 11:49] leogr commented on #103
Assuming the recent evolution of `falcoctl`, I guess this issue has been addressed. :)

/close

[2022-11-23 11:49] poiana commented on #103
@leogr: Closing this issue.

<details>

In response to [this](https://github.com/falcosecurity/falcoctl/issues/103#issuecomment-1324937789):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2022-11-23 11:49] #103 closed

[2022-11-23 12:13] maxgio92 commented on #174
Thanks @leogr. I see the point of the responsibility of verifying only the authenticity of the artifacts. And I agree as we discussed in the meantime.

I agree with the fact that all the implementations will converge to the OCI specification for artifacfs, for distribution. (as a detail, then we may want to discuss the encoding and signing algorithms to support, e.g. Notation supports JOSE and COS